span:hover {
	/*background-color: white;
	color: red;*/

	background: -webkit-linear-gradient(blue, green);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

h2{
  	background: -webkit-linear-gradient(blue, green);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}